/* Common */
*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #a69060;
    --first-color: #12192c;
    --second-color: #f5a623;
    --white-color: #ededed;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

body {
    font-size: 1.6rem;
    font-family: "Noto Sans JP", "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* === Navbar === */
.l-navbar {
    position: fixed;
    top: 20px;
    left: 0;
    width: 65px;
    height: 100vh;
    background: var(--white-color);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    /* z-index: var(--z-fixed); */
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.5rem;
    overflow: hidden;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    color: var(--first-color);
    transition: 0.5s;
}

.nav__link:hover {
    background: var(--second-color);
    color: var(--first-color);
}

.nav__icon {
    font-size: 2rem;
    margin-right: 0.75rem;
    /* padding: 10px; */
}

.nav__link ion-icon {
    font-size: 2rem;
    margin-right: 0.75rem;
    /* padding: 10px; */
}

.nav__text {
    font-weight: 500;
    white-space: nowrap;
}

.show {
    width: 220px;
}

.rotate {
    transform: rotate(180deg);
    /* transition: 0.3s; */
}

.expander {
    padding: 0 0 0 14rem;
}

/* ==== Header === */

.container {
    /* width: 1170px; */
    width: 100%;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    transition: 0.5s;
}

.btn {
    --height: 50px;
    min-width: 115px;
    height: var(--height);
    border-radius: 10px;
    font-size: 1.6rem;
    text-align: center;
    line-height: var(--height);
    background: var(--white-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #d4d4d4;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    background: #e0e0e0;
}

.btn-fail ion-icon {
    color: #d9534f;
    font-size: 2rem;
}

.btn-sub ion-icon {
    color: #337a7b;
    font-size: 2rem;
}

.header-title {
    position: fixed;
    top: 0;
    width: 100vw;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: var(--first-color);
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
}
.row-content {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 8%; */
    padding: 40px 0;
    gap: 30px;
    width: 100%;
    margin: 100px 25px 50px;
}
.row-content:first-child {
    border-bottom: 1px solid rgb(199, 195, 195);
}

.serial-number {
    background: #f2dede;
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1.5rem;
    margin: 0 40px;
}

.serial-seach {
    padding-top: 10px;
    white-space: nowrap;
}

.input-search:focus-within {
    background: #e0e0e0;
}

input {
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.5s;
}

input[type="text"] {
    background: #fff;
    padding: 0 25px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
}
input[type="password"] {
    background: #fff;
    padding: 0 25px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
}

input[type="submit"] {
    cursor: pointer;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    line-height: 1.5;
}

input[type="submit"]:hover {
    background: #e0e0e0;
}
input:focus-within {
    background: #e0e0e0;
}

.info-basic {
    align-self: flex-start;
    border-left: 2px solid rgb(215 215 215);
    padding: 0 40px;
    white-space: nowrap;
}

.info-title {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    /* background: #000; */
    box-shadow: 0 0 5px rgba(110, 108, 108, 0.5);
    width: 50%;
}

.past-list__content {
    /* width: 50%; */
    /* border-right: 1px solid rgb(199, 195, 195); */
    /* overflow: hidden; */
    margin: 0 40px;
}

.past-list__content .button {
    width: 30px;
}

.btn-submit,
.past-list__inner,
.past-list__detail {
    width: 500px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    gap: 30px;
    border: 1px solid rgb(199, 195, 195);
}

.past-list__inner {
    /* background: var(--white-color); */
    line-height: 2rem;
    padding: 5px 10px;
}

.past-list__detail td:first-child {
    display: block;
    margin: 0 auto;
}

.past-list textarea {
    resize: none;
    text-align: left;
    border: 1px solid rgb(177, 170, 170);
    padding: 5px 5px;
    line-height: 1.5;
    font-size: 1.6rem;
}

/* ====== Modal ==== */

.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40vh;
}
.modal-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.modal-content {
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    position: relative;
    z-index: 10;
    padding: 30px;
}

.modal-submit {
    background: #ededed;
}
/* .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    color: white;
    background-color: #eee;
    padding: 5px;
    transform: translate(50%, -50%);
} */

.modal-main {
    pointer-events: none;
}
.modal-main {
    overscroll-behavior-y: contain;
    border-bottom: 1px solid rgb(199, 195, 195);
    padding: 10px 0;
    line-height: normal;
    font-size: 1.4rem;
}

.modal-title {
    text-align: center;
    border-bottom: 1px solid rgb(199, 195, 195);
    padding-bottom: 10px;
    font-size: 1.4rem;
}

.choice-plz {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(199, 195, 195);
    padding: 10px 0;
    font-size: 1.4rem;
}
.choice-plz span:first-child {
    border-right: 2px solid rgb(199, 195, 195);
    padding-right: 40px;
}

.btn-choice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}

.btn-choice span {
    font-size: 1.2rem;
}

.btn-sub,
.btn-fail {
    justify-content: space-evenly;
    width: 150px;
    margin-top: 15px;
}

.btn-submit {
    border: none;
    margin-top: -20px;
}

.btn-sub ion-icon,
.btn-sub span {
    pointer-events: none;
}

.btn-close ion-icon,
.btn-close span {
    pointer-events: none;
}

/* Login */
.login-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 10px;
}

/* Home-intro */
.intro {
    background: #f2dede;
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1.5rem;
    margin: 150px auto 0;
    text-align: center;
}
.system-row {
    width: 50%;
    margin: 0 auto;
}

.system-title {
    background: #4a7e7f;
    color: #fff;
    padding: 10px;
    width: 100%;
    min-width: 130px;
    border-radius: 10px;
    text-align: center;
}

.system-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px;
}

/* From - Data */

.form {
    font-size: 2rem;
    margin: 150px 20px 0;
    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.form label {
    margin: 10px 0;
    display: inline-block;
    width: 130px;
}

.form-input:focus-within {
    background: #e0e0e0;
}

.form button {
    border-radius: 10px;
    margin: 30px 0px;
}
.form button:hover {
    background: #e0e0e0;
}

.plus-icon {
    color: #337a7b;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    /* position: relative; */
}

.table-data {
    margin: 150px 0 0 60px;
    height: fit-content;
    width: 100%;
}

.table-data th {
    padding: 10px;
    font-weight: bold;
}

.table-data th,
.table-data td {
    border: 2px solid #666;
    text-align: center;
}

.table-data td {
    padding: 10px;
    font-size: 1.2rem;
}

.table__assembly-info {
    font-size: 1.6rem;
    /* min-width: 100%; */
    width: 100%;
    margin: 20px 0;
}

.table__assembly-info td {
    padding: 20px;
}

.error-message {
    font-size: 1.4rem;
    color: red;
    margin: 5px 0;
}

/* Chart Style */

.chart-data {
    align-items: self-start;
    justify-content: space-between;
    margin: 30px;
    width: 100%;
    border-top: 1px solid rgb(199, 195, 195);
}
.total-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 70%;
}

.chart-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 60%;
}
.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #211c2f;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    height: 400px;
    /* width: 300px; */
}

.assembly-product {
    width: 100%;
    font-size: 1.2rem;
}
.assembly-product_data {
    width: 100%;
    margin: 20px 0;
}

/* Total quantity of Assembly */
.total-quantity__assembly {
    margin: 15px auto;
}

.total-quantity__assembly th {
    font-size: 1.2rem;
}

.total_title {
    font-size: 1.4rem;
}

.page-number {
    position: absolute;
    right: 720px;
    top: 800px;
    padding: 5px;
    width: 30px;
    display: flex;
}

.page-number-2 {
    top: 650px;
}

.page-number li {
    border: 1px solid #160707;
    padding: 10px;
    margin: 30px 5px;
    cursor: pointer;
}
.page-number li:hover {
    background: #ebebeb;
}

.page-number .active {
    background: #ebebeb;
}
